// Radius of the border
$global-border-radius: 10px;
$global-border-radius-small: 5px;

// codeblock fill color
$code-background-color: #f6f8fa;
$code-background-color-dark: #373737;

// border color
$global-border-color: #626262;